/* Common styles and resetting */
body, p, div {
    margin: 0 auto;
    border: 0;
    padding: 0;
}

body {
    font-family: "Helvetic Neue", Helvetica, Arial;
    width: 60%;
    background-color: #666666;
}

div, span {
    color: #FFFFFF;
    box-sizing: border-box;
}

h3 {
    padding: 20px;
    text-align: center;
    font-size: 22px;
    border-radius: 7px;
    box-shadow: 5px 5px 0 rgba(37, 37, 37, 0.5);
    background-color: #252525;
}

.main-container {
    width: 800px;
}

.pagination {
    height: 20px;
    width: 100%;
}

.pagination__arrow,
.pagination__current-page {
    cursor: pointer;
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: #330033;
    float: left;
}

.pagination__arrow .text {
    text-decoration: underline;
}

.pagination__arrow--disabled,
.pagination__arrow--disabled .text{
    color: #333333;
    text-decoration: none;
}

.pagination__current-page {
    width: 65%;
    text-align: center;
    font-size: 18px;
    cursor: default;
}

.recipes-list {
    position: relative;
    background-color: lightslategray;
    margin: 20px auto;
}

.recipes-list .recipe {
    height: 45px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    padding: 30px;
}

.recipes-list .recipe.recipe--odd {
    background-color: #97A797;
}

.recipes-list .recipe__name {
    min-width: 300px;
    font-size: 20px;
    position: relative;
}

.recipes-list .recipe__link {
    position: absolute;
    right: 0;
    margin-right: 40px;
    text-decoration: none;
    color: rgba(0,0,0, 0.8);
}

.recipe-detail-container {
    height: 260px;
    background-color: lightslategray;
    box-shadow: inset 0 1px 11px 9px #A0BAC1;
    border-radius: 12px;
}

.recipe-image {
    width: 120px;
    height: 120px;
    float: left;
    margin: 40px;
}

.recipe-details {
    float: left;
    margin: 40px 0;
}

.recipe-details__title {
    font-size: 30px;
}

.recipe-details__ingredients,
.recipe-details__cooking {
    margin: 20px 0 40px 60px;
    padding: 10px;
    position: relative;
}

.tag {
    width: 130px;
    text-align: center;
    background-color: #252525;
    border-radius: 8px;
    border: 1px slategrey;
    padding: 8px;
}

.test {
    position: absolute;
    top: -35px;
    left: 165px;
    background-color: rgba(37, 37, 37, 0.6);
    border-radius: 8px;
    border: 1px slategrey;
    width: 250px;
    padding: 30px;
}
